$mobileWidth: 480px;
$reallyLightGray: rgba(0, 0, 0, 0.07);

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-card {
  padding: 0;
}

header {
  background-color: $reallyLightGray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;

  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }
  }

  mat-form-field {
    min-width: 280px;
  }

  .slider {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    label {
      margin-right: 4px;
    }

    .slider-control {
      .slider-value {
        margin-top: -16px;
        text-align: center;
      }
    }

    .mat-slider {
      width: 280px;
    }
  }
}

mat-card-content {
  padding: 16px;
}

.beer-list {
  padding: 0;
}
