<li class="beer-list-item">
  <form [formGroup]="beerForm">
    <img src="/assets/images/{{ beer.id }}.jpg" [alt]="beer.name" />

    <div class="metadata">
      <h3>
        <span class="beer-name" *ngIf="!editMode.name" (click)="toggleEdit('name', true)">
          {{ beer.name }}
        </span>
        <span *ngIf="editMode.name">
          <input
            type="text"
            class="inline-edit-field"
            (keyup.escape)="toggleEdit('name', false)"
            (keyup.enter)="updateBeer('name')"
            formControlName="name"
            [value]="beer.name"
          />
          <span class="input-field-buttons input-field-buttons-beer-name">
            <button
              mat-icon-button
              class="save-button"
              (click)="updateBeer('name')"
              matTooltip="Save"
            >
              <mat-icon>done</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="toggleEdit('name', false)"
              color="warn"
              matTooltip="Cancel"
            >
              <mat-icon>close</mat-icon>
            </button>
          </span>
        </span>
        <span
          class="alcohol-percentage mat-bg-accent"
          *ngIf="!editMode.alcohol"
          (click)="toggleEdit('alcohol', true)"
          >{{ beer.alcohol }}%</span
        >
        <span
          class="alcohol-percentage mat-bg-accent alcohol-percentage-input-wrapper"
          *ngIf="editMode.alcohol"
        >
          <input
            type="number"
            class="mat-bg-accent"
            (keyup.escape)="toggleEdit('alcohol', false)"
            (keyup.enter)="updateBeer('alcohol')"
            formControlName="alcohol"
            [value]="beer.alcohol"
            [min]="ALCOHOL_MIN"
            [max]="ALCOHOL_MAX"
            step="0.1"
          />
          <span>%</span>
        </span>
      </h3>
      <p
        class="beer-description"
        *ngIf="!editMode.description"
        (click)="toggleEdit('description', true)"
      >
        {{ beer.description }}
      </p>
      <div class="description-input-field" *ngIf="editMode.description">
        <mat-form-field>
          <textarea
            matInput
            [matTextareaAutosize]="true"
            (keyup.escape)="toggleEdit('description', false)"
            formControlName="description"
            [value]="beer.description"
          >
          </textarea>
        </mat-form-field>
        <div class="input-field-buttons">
          <button
            mat-icon-button
            class="save-button"
            (click)="updateBeer('description')"
            matTooltip="Save"
          >
            <mat-icon>done</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="toggleEdit('description', false)"
            color="warn"
            matTooltip="Cancel"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</li>
